version: "3.9"

services:
  frontend:
    image: nginx:alpine
    container_name: healthbot_frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro

  backend:
    build: ./backend
    container_name: healthbot_backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: healthbot_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: healthdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: healthbot_redis
    ports:
      - "6379:6379"

volumes:
  db_data:
